<body>
<div class="container">
    <form [formGroup]="nxtPeriodDate">
        <div class="form-group">
            <label> Next Period Date </label>
            <input required formControlName="nextPeriodDate" type="date" style="width: 50%;" class="form-control" name="" id="">
        </div>
        <div class="form-group">
            <label>Ovulation Time Period</label>
            <input required style="width: 50%" type="text" formControlName="ovulation" class="form-control" name="" id="">
        </div>        
    </form>   
</div>
    
</body>