<body>
<div class="container">
    <form [formGroup]="periodDates"> 
        <div class="form-group">
            <label> Next Period Date </label>
            <input required formControlName="nextPeriodDate" type="text" style="width: 50%;" class="form-control" name="" id="">
            
        </div>
        <div class="form-group">
            <label >Ovulation Time Period</label>
            <input required style="width: 50%" formControlName="ovulation" type="text" class="form-control" name="" id="">
        </div>
        <!-- <button routerLink="./periodDate" class="btn btn-info ">Next Period Date</button> -->
        <button style="margin-left: 15px;" routerLink="" class="btn btn-info ">Login</button>

    </form>
</div>
</body>